@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

/* font-family: "Young Serif", serif; */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Rubik:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

/* font-family: "Inter", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jersey+10&family=Rubik:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

/* font-family: "IBM Plex Mono", monospace; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=Jersey+10&family=Rubik:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

:root {
    --type-p: 20px;
    --h2-p: calc(var(--type-p) * 1);
    --title-p: calc(var(--type-p) * 2);
    --header-p: calc(var(--font-size) * 1);
    --intro-p: calc(var(--font-size) * 1.5);
    --li-p: calc(var(--font-size) * 1);
    --li-padding: calc(var(--title-p) * 0.5);

    --footer-p: calc(var(--font-size) * 0.9);

    --color: blue;

    --gutter: calc(var(--type-p) * 1.5);
}

/* @media (min-width:600px) {
    :root {
        font-size: 32px;
    }
} */

main {
    /* display: flex; */
    row-gap: var(--gutter);
}

.hello {
    /* transform: rotate(90deg); */
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
}

.intro p,
h2,
.title {
    font-family: "Inter", sans-serif;;
}

.intro {
    background-color: #AFD9FF;
}

.intro p {
    font-size: var(--type-p);
    max-width: 40vw;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    padding-left: calc(var(--gutter) * 2);
}

li {
    background-color: #F2F1EC;
    display: flex;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    padding-left: calc(var(--gutter) * 2);
    border-top: solid 1.5px black;
}

ol li:last-child {
    border-bottom: solid 1.5px black;
}

h2 {
    font-size: var(--h2-p);
    color: #0CAE5A;
}

.title {
    font-size: var(--title-p);
    padding-left: var(--gutter);
}
