@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

/* font-family: "Young Serif", serif; */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Rubik:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

/* font-family: "Inter", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jersey+10&family=Rubik:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

/* font-family: "IBM Plex Mono", monospace; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=Jersey+10&family=Rubik:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');


body {
    background-color: #F2F1EC;
}

.intro p,
h2,
.title {
    font-family: "Inter", sans-serif;;
}

.top {
    width: 100vw;
    display: flex;
    background-color: #AFD9FF;
    justify-content: space-between;
}

.intro {
    padding-top: calc(var(--gutter) * 1.2);
    padding-bottom: calc(var(--gutter) * 1.2);
    padding-left: calc(var(--gutter) * 2);
    padding-right: calc(var(--gutter) * 2);
}

.intro p {
    font-size: var(--type-p);
}

.intro p:not(:last-child){
    padding-bottom: var(--type-p);
}

.links {
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    display: flex;
    /* flex-direction: column; */
    /* padding-top: var(--gutter);
    padding-bottom: var(--gutter); */
}

.links p {
    padding-left: var(--gutter);
    /* padding-bottom: calc(var(--type-p) * 0.5); */
}

li {
    background-color: #F2F1EC;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    padding-left: calc(var(--gutter) * 2);
    padding-right: calc(var(--gutter) * 2);
    border-top: solid 1.5px black;
    justify-content: space-between;
}

ol a:last-child li {
    border-bottom: solid 1.5px black;
}

h2 {
    font-size: var(--h2-p);
    /* color: #0CAE5A; */
}

.name {
    display: flex;
}

.title {
    font-size: var(--title-p);
}

.tags {
    display: flex;
    font-family: "IBM Plex Mono", monospace;
}

.tags p {
    font-family: "IBM Plex Mono", monospace;
    font-size: var(--footer-p);
    background-color: white;
    padding-top: calc(var(--gutter) * 0.2);
    padding-bottom: calc(var(--gutter) * 0.2);
    padding-left: calc(var(--gutter) * 0.8);
    padding-right: calc(var(--gutter) * 0.8);
    border-radius: 30px;
    /* border: 1px black solid; */
}

.tags p:not(:first-child) {
    margin-left: var(--gutter);
}

li:hover {
    background-color: #FFED94;
}

footer {
    background-color: #0CAE5A;
    align-items: space-between;
    padding-top: calc(var(--gutter) * 0.5);
    padding-bottom: calc(var(--gutter) * 0.5);
    padding-left: calc(var(--gutter) * 2);
    padding-right: calc(var(--gutter) * 2);
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position: fixed;
    width: 100vw;
    /* border-top: solid 1.5px black; */
}

footer p {
    font-family: "IBM Plex Mono", monospace;
    font-size: var(--footer-p);
    text-transform: uppercase;
}

@media (min-width:600px) {
    :root {
        --type-p: 40px;
        --h2-p: calc(var(--type-p) * 1);
        --title-p: calc(var(--type-p) * 1.5);
        --header-p: calc(var(--font-size) * 1);
        --intro-p: calc(var(--font-size) * 1.5);
        --li-p: calc(var(--font-size) * 1);
        --li-padding: calc(var(--title-p) * 0.5);
        --footer-p: calc(var(--type-p) * 1.5);
        --footer-p: calc(var(--font-size) * 3);
        --gutter: calc(var(--type-p) * 1);
    }

    li {
        display: flex;
        flex-direction: column;
    }

    .name {
        display: flex;
        /* flex-direction: column; */
        align-items: flex-start;
    }

    .title {
        padding-left: var(--gutter);
    }

    .tags {
        margin-left: calc(var(--gutter) * 2);
    }

    .name h2,
    .tags {
        padding-top: calc(var(--gutter) * 0.5);
    }
}

@media (min-width:1200px) {
    :root {
        --type-p: 18px;
        --h2-p: calc(var(--type-p) * 1);
        --title-p: calc(var(--type-p) * 2);
        --header-p: calc(var(--font-size) * 1);
        --intro-p: calc(var(--font-size) * 1.5);
        --li-p: calc(var(--font-size) * 1);
        --li-padding: calc(var(--title-p) * 0.5);
        --footer-p: calc(var(--type-p) * 0.5);
        --footer-p: calc(var(--font-size) * 0.9);
        --gutter: calc(var(--type-p) * 1.5);
    }

    .intro p {
        width: 40vw;
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .name {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .title {
        padding-left: var(--gutter);
    }

    .tags {
        margin-left: 0;
        margin-top: 0;
    }

    .name h2,
    .tags {
        padding-top: 0;
    }
}


