@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

/* font-family: "Young Serif", serif; */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Rubik:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

/* font-family: "Inter", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jersey+10&family=Rubik:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

/* font-family: "IBM Plex Mono", monospace; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=Jersey+10&family=Rubik:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

:root {
    --type-p: 18px;
    --h2-p: calc(var(--type-p) * 1);
    --title-p: calc(var(--type-p) * 2);
    --header-p: calc(var(--font-size) * 1);
    --intro-p: calc(var(--font-size) * 1.5);
    --li-p: calc(var(--font-size) * 1);
    --li-padding: calc(var(--title-p) * 0.5);
    --footer-p: calc(var(--type-p) * 0.5);

    --footer-p: calc(var(--font-size) * 0.9);

    --color: blue;

    --gutter: calc(var(--type-p) * 1.5);
}

/* @media (min-width:600px) {
    :root {
        font-size: 32px;
    }
} */

body {
    background-color: #F2F1EC;
}

.hello {
    text-transform: uppercase;
    background-color: #0CAE5A;
}

.hello h1 {
    font-family: "IBM Plex Mono", monospace;
    /* background-color: #0CAE5A; */
    /* padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    padding-left: calc(var(--gutter) * 2);
    padding-right: calc(var(--gutter) * 2); */
    font-size: 20px;
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    /* animation:  
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    animation-fill-mode: forwards; */
}

/* @keyframes typing {
    from { width: 0; } 
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
} */

.intro p,
h2,
.title {
    font-family: "Inter", sans-serif;;
}

.top {
    width: 100vw;
    display: flex;
    background-color: #AFD9FF;
    justify-content: space-between;
}

.intro {
    padding-top: calc(var(--gutter) * 1.2);
    padding-bottom: calc(var(--gutter) * 1.2);
    padding-left: calc(var(--gutter) * 2);
}

.intro p {
    font-size: var(--type-p);
    width: 45vw;
}

.intro p:not(:last-child){
    padding-bottom: var(--type-p);
}

.links {
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    display: flex;
    /* flex-direction: column; */
    /* padding-top: var(--gutter);
    padding-bottom: var(--gutter); */
}

.links p {
    padding-left: var(--gutter);
    /* padding-bottom: calc(var(--type-p) * 0.5); */
}

li {
    background-color: #F2F1EC;
    display: flex;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    padding-left: calc(var(--gutter) * 2);
    border-top: solid 1.5px black;
}

ol a:last-child li {
    border-bottom: solid 1.5px black;
}

h2 {
    font-size: var(--h2-p);
    /* color: #0CAE5A; */
}

.title {
    font-size: var(--title-p);
    padding-left: var(--gutter);
}

li:hover {
    background-color: #FFED94;
}

footer {
    background-color: #0CAE5A;
    align-items: space-between;
    padding-top: calc(var(--gutter) * 0.5);
    padding-bottom: calc(var(--gutter) * 0.5);
    padding-left: calc(var(--gutter) * 2);
    padding-right: calc(var(--gutter) * 2);
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position: fixed;
    width: 100vw;
    /* border-top: solid 1.5px black; */
}

footer p {
    font-family: "IBM Plex Mono", monospace;
    font-size: var(--footer-p);
    text-transform: uppercase;
}
